@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #f2e5d0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-size: 24px;
  color: #725b3a;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container h2 {
  margin-left: 8px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.login-button,
.carrinho-button {
  background-color: #fca72c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover,
.carrinho-button:hover {
  background-color: #e09327;
}

.tipo-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pesquisa {
  margin-bottom: 20px;
}

.pesquisa .tipo {
  width: 100%;
}

.radio {
  position: relative;
}

.radio input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.radio input:checked ~ span {
  background-color: #fca72c;
  color: white;
}

.radio span {
  color: #725b3a;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}

.container {
  background-color: white;
  margin: 6rem 0;
  width: 100%;
  border-radius: 8px;
  padding: 1rem 0;
}

.livro {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 0.5rem 0.25rem;
  transition: 0.3s ease;
}

.livro img {
  border-radius: 6px;
}

.livro a {
  background-color: #fca72c;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 12px;
  transition: 0.2s ease;
}

.livro:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.livro a:hover {
  background-color: #e09327;
}

.livros {
  display: flex;
}

.livros1 {
  display: flex;
  flex-wrap: wrap;
}

.livros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.livro {
  width: 250px;
  height: auto;
  margin: 10px;
}

.livro img {
  width: 90%;
}

.pesquisar {
  background-color: #fca72c;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pesquisar:hover {
  background-color: #e09327;
}
